body{
    margin: 0;
    padding: 0;
    background: #000;
    font-family: sans-serif;
}
#canvas{
    background-image: url("./canvas_back.png");
    background-size: cover;
    max-width: 100dvw;
    max-height: 100dvh;
    margin: 0;
    padding: 0;
}