pole: {
  # 自1-自2-3-敵2-敵1(左-中-右)
  duty: [100,100,505,593,380,600,600,593,505,100,100],
  velocity: [1.0,2.0,3.0,140.0,180.0,140.0,7.0,8.0,9.0,0.0,1.0] # DO NOT FORGET ".0" AT THE END OF INTEGERS!!!!!!
}

lidar_pos: 0.17
arduino: {
  aim: {
    manual_duty: 200, #手動照準のDuty

    # 照準の位置PIDゲイン
    capable_duty: 0.4,
    Kp: 0.4,
    Ki: 0.0,
    Kd: 0.0
  },

  spr: {
    duty: 200,              #Duty
    init_count_correct: 0,       #初期値を刃が抜ける方向にどれだけずらすか
    one_way_count: 1500,    #片道のエンコーダカウント
    stop_time: 500000,      #行ってから折り返すまで静止している時間
    start_break: 1000        #初期位置に戻るときにDutyを0に設定するタイミング(この数値が大きいほど早く止まる)
  },

  shoot: {
    belt_duty: 500,
    bias_to_upper_roller: 0,

    # # 射出の速度PIDゲイン
    capable_duty: 0.8,
    # # 左上、左下、右上、右下
    Kp: [1.0, 1.0, 1.0, 1.0],
    Ki: [0.0, 0.0, 0.0, 0.0],
    Kd: [0.0, 0.0, 0.0, 0.0]
  },
}