<launch>
	<rosparam command="load" file="$(find adbot)/config/params.yaml" />

	<arg name="port" default="8085"/> <!-- avoid to use apache default port -->
	<arg name="webpath" default="www"/> <!-- relative path to the webroot. E.g. place this foloder in the ROS package root dir -->
	<arg name="use_roswww" default="true" />
	<arg name="arduino" default="true"/>
	<arg name="lidar_aim" default="false"/>

	<include if="$(arg use_roswww)" file="$(find rosbridge_server)/launch/rosbridge_websocket.launch" />
	<include if="$(arg use_roswww)" file="$(find roswww)/launch/roswww.launch">
  	<arg name="port" value="$(arg port)"/>
  	<arg name="webpath" value="$(arg webpath)"/>
	</include>

	<node name="xbox_gamepad" type="joy_node" pkg="joy" output="screen">
	</node>

	<node name="joy_sub" type="joy_sub" pkg="adbot" output="screen" />
	<node name="interpreter" type="interpreter" pkg="adbot" output="screen" />

	<group if="$(arg arduino)">
		<node name="aruduino" pkg="rosserial_arduino" type="serial_node.py" required="true"  output="screen">
			<param name="port" value="/dev/ttyACM0"/>
			<param name="baud" value="2000000"/>
		</node>
	</group>

	<group if="$(arg lidar_aim)">
		<node name="lidar_aim" pkg="adbot" type="lidar_aim" output="screen"/>	
	
		<node name="urg_node" pkg="urg_node" type="urg_node" required="true">
			<param name="ip_address" value="192.168.0.10"/>
		</node>

	</group> 


</launch>
